@charset "UTF-8";
p::selection, h1::selection, span::selection {
  background: transparent;
}

input:focus {
  outline: none !important;
}

body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  color: #161616;
  text-align: center;
  background-color: currentColor;
}

.wrap {
  width: 100vw;
  height: 100vh;
  background-color: #161616;
}

.content {
  width: 75%;
  height: 100%;
  margin: 0 auto;
  position: relative;
}
.content-title {
  width: 100%;
  text-align: center;
  padding: 30px 0 25px 0;
  margin-bottom: 50px;
}
.content-title h1, .content-title p {
  text-transform: uppercase;
  font-family: josefin sans;
  color: #fff;
  font-weight: 300;
  font-size: 4em;
  margin: 0;
}
.content-title p {
  margin-top: -4px;
  font-weight: 600;
  font-size: 0.9em;
}
.content-search {
  padding-bottom: 5px;
  position: relative;
  display: inline-block;
}
.content-search .close {
  transition: all 0.5s ease;
  position: absolute;
  display: inline-block;
  width: 20px;
  height: 32px;
  background-color: transparent;
  border-radius: 35px;
  border-right: 30px solid #ce3149;
  right: 1px;
  top: 0px;
  z-index: 0;
  transition: all 0.5s ease;
  cursor: pointer;
}
.content-search .close:hover {
  border-right: 30px solid #f92545;
}
.content-search .overlay {
  z-index: 10;
  width: 100%;
  height: 33px;
  background-color: #fff;
}
.content-search .input-active {
  width: 200px;
  padding: 5px 33px 5px 15px;
  z-index: 0;
}
.content-search input {
  z-index: 2;
  transition: all 0.5s ease;
  background-color: transparent;
  border: 1px solid #fff;
  width: 42px;
  height: 32px;
  border-radius: 33px;
  color: #fff;
  padding: 0;
  font-family: josefin sans;
  font-weight: 300;
  font-size: 1.1em;
  -webkit-appearance: none;
}
.content-search button {
  outline: none !important;
  display: block;
  z-index: 1;
  position: absolute;
  top: 0;
  right: 1px;
  width: 42px;
  height: 32px;
  background-color: #161616;
  border-radius: 35px;
  opacity: 1;
  cursor: pointer;
  transition: all 0.15s linear;
  border: 2px solid #fff;
  z-index: 5;
}
.content-search button:hover {
  background-color: #fff;
  opacity: 1;
}
.content-search button:hover i svg path {
  fill: #161616;
}
.content-search button i {
  display: inline-block;
  line-height: 33px;
  width: 100%;
  height: 70%;
}
.content-search button i svg {
  width: 100%;
  height: 100%;
}
.content-weath {
  padding-top: 10px;
  transition: all 0.5s ease;
  transform: scale(1);
  opacity: 1;
}
.content-weath p {
  position: relative;
  text-align: center;
  text-transform: uppercase;
  font-family: josefin sans;
  font-size: 1.1em;
  color: #fff;
  font-weight: 300;
  margin-bottom: 10px;
}
.content-weath p .syst {
  display: inline-block;
  cursor: pointer;
  color: #68ccff;
  font-weight: 400;
  font-size: 1.1em;
  margin-left: 5px;
}

.icon {
  position: relative;
  display: inline-block;
  width: 12em;
  height: 10em;
  font-size: 1em;
  /* control icon size here */
}

.cloud {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  width: 3.6875em;
  height: 3.6875em;
  margin: -1.84375em;
  background: currentColor;
  border-radius: 50%;
  box-shadow: -2.1875em 0.6875em 0 -0.6875em, 2.0625em 0.9375em 0 -0.9375em, 0 0 0 0.275em #fff, -2.1875em 0.6875em 0 -0.3125em #fff, 2.0625em 0.9375em 0 -0.5625em #fff;
}
.cloud:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: -0.5em;
  display: block;
  width: 4.5625em;
  height: 1em;
  background: currentColor;
  box-shadow: 0 0.4375em 0 -0.0625em #fff;
}
.cloud:nth-child(2) {
  z-index: 0;
  background: #fff;
  box-shadow: -2.1875em 0.6875em 0 -0.6875em #fff, 2.0625em 0.9375em 0 -0.9375em #fff, 0 0 0 0.275em #fff, -2.1875em 0.6875em 0 -0.3125em #fff, 2.0625em 0.9375em 0 -0.5625em #fff;
  opacity: 0.3;
  transform: scale(0.5) translate(6em, -3em);
  animation: cloud 4s linear infinite;
}
.cloud:nth-child(2):after {
  background: #fff;
}

.sun {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2.5em;
  height: 2.5em;
  margin: -1.25em;
  background: currentColor;
  border-radius: 50%;
  box-shadow: 0 0 0 0.275em #fff;
  animation: spin 12s infinite linear;
}

.rays {
  position: absolute;
  top: -2em;
  left: 50%;
  display: block;
  width: 0.275em;
  height: 1.125em;
  margin-left: -0.1875em;
  background: #fff;
  border-radius: 0.25em;
  box-shadow: 0 5.375em #fff;
}
.rays:before, .rays:after {
  content: "";
  position: absolute;
  top: 0em;
  left: 0em;
  display: block;
  width: 0.275em;
  height: 1.125em;
  transform: rotate(60deg);
  transform-origin: 50% 3.25em;
  background: #fff;
  border-radius: 0.25em;
  box-shadow: 0 5.375em #fff;
}
.rays:before {
  transform: rotate(120deg);
}

.cloud + .sun {
  margin: -2em 1em;
}

.rain, .lightning, .snow {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  width: 3.75em;
  height: 3.75em;
  margin: 0.375em 0 0 -2em;
  background: currentColor;
}

.rain:after {
  content: "";
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  width: 1.125em;
  height: 1.125em;
  margin: -1em 0 0 -0.25em;
  background: #0cf;
  border-radius: 100% 0 60% 50%/60% 0 100% 50%;
  box-shadow: 0.625em 0.875em 0 -0.125em rgba(255, 255, 255, 0.2), -0.875em 1.125em 0 -0.125em rgba(255, 255, 255, 0.2), -1.375em -0.125em 0 rgba(255, 255, 255, 0.2);
  transform: rotate(-28deg);
  animation: rain 3s linear infinite;
}

.bolt {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -0.25em 0 0 -0.125em;
  color: #fff;
  opacity: 0.3;
  animation: lightning 2s linear infinite;
}
.bolt:nth-child(2) {
  width: 0.5em;
  height: 0.25em;
  margin: -1.75em 0 0 -1.875em;
  transform: translate(2.5em, 2.25em);
  opacity: 0.2;
  animation: lightning 1.5s linear infinite;
}
.bolt:before {
  content: "";
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  margin: -1.625em 0 0 -1.0125em;
  border-top: 1.25em solid transparent;
  border-right: 0.75em solid;
  border-bottom: 0.75em solid;
  border-left: 0.5em solid transparent;
  transform: skewX(-10deg);
}
.bolt:after {
  content: "";
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  margin: -1.625em 0 0 -1.0125em;
  border-top: 1.25em solid transparent;
  border-right: 0.75em solid;
  border-bottom: 0.75em solid;
  border-left: 0.5em solid transparent;
  transform: skewX(-10deg);
  margin: -0.25em 0 0 -0.25em;
  border-top: 0.75em solid;
  border-right: 0.5em solid transparent;
  border-bottom: 1.25em solid transparent;
  border-left: 0.75em solid;
  transform: skewX(-10deg);
}
.bolt:nth-child(2):before {
  margin: -0.75em 0 0 -0.5em;
  border-top: 0.625em solid transparent;
  border-right: 0.375em solid;
  border-bottom: 0.375em solid;
  border-left: 0.25em solid transparent;
}
.bolt:nth-child(2):after {
  margin: -0.125em 0 0 -0.125em;
  border-top: 0.375em solid;
  border-right: 0.25em solid transparent;
  border-bottom: 0.625em solid transparent;
  border-left: 0.375em solid;
}

.flake {
  box-sizing: border-box;
}
.flake:before {
  box-sizing: border-box;
  content: "❄";
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -1.025em 0 0 -1.0125em;
  opacity: 0.2;
  color: #fff;
  animation: spin 8s linear infinite reverse;
}
.flake:after {
  box-sizing: border-box;
  content: "❄";
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -1.025em 0 0 -1.0125em;
  color: #fff;
  list-height: 1em;
  opacity: 0;
  animation: spin 8s linear infinite reverse;
}
.flake:after {
  margin: 0.125em 0 0 -1em;
  font-size: 1.5em;
  opacity: 0.4;
  animation: spin 14s linear infinite;
}
.flake:nth-child(2):before {
  margin: -0.5em 0 0 0.25em;
  font-size: 1em;
  opacity: 0.2;
  animation: spin 10s linear infinite;
}
.flake:nth-child(2):after {
  margin: 0.375em 0 0 0.125em;
  font-size: 2em;
  opacity: 0.4;
  animation: spin 16s linear infinite reverse;
}

/* Animations */
@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes cloud {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 0;
    transform: scale(0.5) translate(-200%, -3em);
  }
}
@keyframes rain {
  0% {
    background: #0cf;
    box-shadow: 0.625em 0.875em 0 -0.125em rgba(255, 255, 255, 0.2), -0.875em 1.125em 0 -0.125em rgba(255, 255, 255, 0.2), -1.375em -0.125em 0 #0cf;
  }
  25% {
    box-shadow: 0.625em 0.875em 0 -0.125em rgba(255, 255, 255, 0.2), -0.875em 1.125em 0 -0.125em #0cf, -1.375em -0.125em 0 rgba(255, 255, 255, 0.2);
  }
  50% {
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0.625em 0.875em 0 -0.125em #0cf, -0.875em 1.125em 0 -0.125em rgba(255, 255, 255, 0.2), -1.375em -0.125em 0 rgba(255, 255, 255, 0.2);
  }
  100% {
    box-shadow: 0.625em 0.875em 0 -0.125em rgba(255, 255, 255, 0.2), -0.875em 1.125em 0 -0.125em rgba(255, 255, 255, 0.2), -1.375em -0.125em 0 #0cf;
  }
}
@keyframes lightning {
  45% {
    color: #fff;
    background: #fff;
    opacity: 0.2;
  }
  50% {
    color: #0cf;
    background: #0cf;
    opacity: 1;
  }
  55% {
    color: #fff;
    background: #fff;
    opacity: 0.2;
  }
}
input::-ms-clear, input::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

input::-webkit-search-decoration, input::-webkit-search-cancel-button, input::-webkit-search-results-button, input::-webkit-search-results-decoration {
  display: none;
}
